## Relatório de análise

In [88]:
import pandas as pd

In [89]:
df = pd.read_csv("aluguel.csv", sep=";")

In [90]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

## Informações Gerais da Base de Dados

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [92]:
df.shape

(32960, 9)

In [93]:
imoveis = df.shape[0]
variaveis = df.shape[1]
print(f"A base de dados contém {imoveis} registros e {variaveis} variáveis.")

A base de dados contém 32960 registros e 9 variáveis.

In [94]:
dados = df.dtypes

In [129]:
dados

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [95]:
tipos_de_dados = pd.DataFrame(dados, columns=["Tipos de Dados"])

In [96]:
tipos_de_dados.columns.name = "Variaveis"

In [97]:
tipos_de_dados

Variaveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

## Verificar os tipos de imoveis

In [107]:
tipos_de_imoveis =  [imoveis for imoveis in df["Tipo"].drop_duplicates()]

In [108]:
tipos_de_imoveis

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [113]:
df_tipo_imoveis = pd.DataFrame(tipos_de_imoveis, columns=["Tipo de imoveis"])

In [114]:
df_tipo_imoveis

                Tipo de imoveis
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

## Eliminando dados de imoveis que não são residenciais

In [115]:
imoveis_residenciais = ['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [121]:
df_residencial = df[df.Tipo.isin(imoveis_residenciais)== True]

In [127]:
#verificando se os imoveis não selecionados foram removidos
df_residencial.Tipo.drop_duplicates()

0               Quitinete
1                    Casa
3             Apartamento
7      Casa de Condomínio
117          Casa de Vila
Name: Tipo, dtype: object

In [122]:
df_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [130]:
imoveis_residenciais = df_residencial.shape[0]
variaveis = df_residencial.shape[1]
print(f"A base de dados contém {imoveis_residenciais} registros e {variaveis} variáveis.")

A base de dados contém 22580 registros e 9 variáveis.

In [131]:
print(f"Foram removidos {imoveis - imoveis_residenciais} registros em relação ao arquivo original")

Foram removidos 10380 registros em relação ao arquivo original

In [128]:
#Exportando arquivo que consta somente os dados de imoveis residenciais
df_residencial.to_csv("aluguel_imoveis_residenciais.csv", index=False, sep=";")