## Relatório de análise

In [88]:
import pandas as pd

In [89]:
df = pd.read_csv("aluguel.csv", sep=";")

In [90]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

## Informações Gerais da Base de Dados

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [92]:
df.shape

(32960, 9)

In [93]:
imoveis = df.shape[0]
variaveis = df.shape[1]
print(f"A base de dados contém {imoveis} registros e {variaveis} variáveis.")

A base de dados contém 32960 registros e 9 variáveis.

In [94]:
dados = df.dtypes

In [129]:
dados

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [95]:
tipos_de_dados = pd.DataFrame(dados, columns=["Tipos de Dados"])

In [96]:
tipos_de_dados.columns.name = "Variaveis"

In [97]:
tipos_de_dados

Variaveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

## Verificar os tipos de imoveis

In [107]:
tipos_de_imoveis =  [imoveis for imoveis in df["Tipo"].drop_duplicates()]

In [108]:
tipos_de_imoveis

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [113]:
df_tipo_imoveis = pd.DataFrame(tipos_de_imoveis, columns=["Tipo de imoveis"])

In [114]:
df_tipo_imoveis

                Tipo de imoveis
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

## Eliminando dados de imoveis que não são residenciais

In [115]:
imoveis_residenciais = ['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [121]:
df_residencial = df[df.Tipo.isin(imoveis_residenciais)== True]

In [127]:
#verificando se os imoveis não selecionados foram removidos
df_residencial.Tipo.drop_duplicates()

0               Quitinete
1                    Casa
3             Apartamento
7      Casa de Condomínio
117          Casa de Vila
Name: Tipo, dtype: object

In [122]:
df_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [130]:
imoveis_residenciais = df_residencial.shape[0]
variaveis = df_residencial.shape[1]
print(f"A base de dados contém {imoveis_residenciais} registros e {variaveis} variáveis.")

A base de dados contém 22580 registros e 9 variáveis.

In [131]:
print(f"Foram removidos {imoveis - imoveis_residenciais} registros em relação ao arquivo original")

Foram removidos 10380 registros em relação ao arquivo original

In [128]:
#Exportando arquivo que consta somente os dados de imoveis residenciais
df_residencial.to_csv("aluguel_imoveis_residenciais.csv", index=False, sep=";")

## Verificar seleção e frequência dos imoveis residencias

*   Classificar imoveis do tipo Apartamento

In [133]:
imoveis_apartamento = df_residencial[df_residencial.Tipo == "Apartamento"]

In [136]:
imoveis_apartamento

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [135]:
print(f"Total de imoveis que são do tipo Apartamento: {imoveis_apartamento.shape[0]}")

Total de imoveis que são do tipo Apartamento: 19532

*   Classificar imoveis do tipo Casa

In [150]:
imoveis_casa = df_residencial[(df_residencial.Tipo != "Apartamento") & (df_residencial.Tipo != "Quitinete")]

In [151]:
imoveis_casa

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
...,...,...,...,...,...,...,...,...,...
32908,Casa de Condomínio,Freguesia (Jacarepaguá),3,3,1,155,2000.0,530.0,1250.0
32911,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
32924,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
32931,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
32952,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0

In [152]:
print(f"Total de imoveis que são do tipo Casa: {imoveis_casa.shape[0]}")

Total de imoveis que são do tipo Casa: 2212

*   Selecionar imoveis com área entre 60 e 100 m²

In [153]:
imoveis_area = df_residencial[(df_residencial.Area >= 60) & (df_residencial.Area <= 100)]

In [154]:
imoveis_area

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
32944,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
32947,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [155]:
print(f"Total de imoveis com área entre 60 e 100 m²: {imoveis_area.shape[0]}")

Total de imoveis com área entre 60 e 100 m²: 8719

*   Selecionar imoveis com pelo menos 4 quartos e aluguel menor que R$ 2.000

In [165]:
imoveis_quartos = df_residencial[(df_residencial.Quartos >= 4) & (df_residencial.Valor < 2000)]

In [166]:
imoveis_quartos

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
701,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,NaN
1465,Apartamento,Taquara,4,1,1,110,1900.0,NaN,NaN
2874,Casa,Campo Grande,4,1,4,100,1600.0,NaN,NaN
3075,Casa,Engenho de Dentro,4,3,0,120,1500.0,NaN,NaN
3218,Apartamento,Recreio dos Bandeirantes,4,2,2,125,1700.0,NaN,90.0
3419,Casa de Vila,Méier,4,0,1,85,1600.0,NaN,NaN
5849,Casa,Campo Grande,4,1,0,140,1700.0,NaN,NaN
5852,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,NaN
6456,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0
7520,Apartamento,Cidade Nova,4,0,0,110,1300.0,NaN,NaN
9716,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0
10132,Casa,Riachuelo,4,0,1,100,1800.0,NaN,40.0
10144,Casa,Méier,4,1,1,125,1900.0,NaN,NaN
11323,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0
11367,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0
11675,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0
14890,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0
16078,Casa de Condomínio,Taquara,4,1,0,110,1750.0,550.0,993.0
16638,Casa,Santo Cristo,5,0,0,85,1200.0,NaN,NaN
17637,Apartamento,Leme,4,0,1,185,1800.0,2000.0,270.0
18453,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0
19553,Apartamento,Camorim,4,1,1,96,1350.0,747.0,NaN
20077,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,NaN
20633,Casa,Praça Seca,4,1,1,128,1600.0,NaN,228.0
21973,Casa de Condomínio,Freguesia (Jacarepaguá),4,2,1,120,1800.0,195.0,30.0
22000,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,NaN,NaN
23284,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,NaN
23453,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0
23608,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,NaN
24572,Casa,Campo Grande,4,3,0,120,1700.0,NaN,NaN
25993,Apartamento,Taquara,4,3,1,190,1200.0,NaN,NaN
26178,Casa,Campo Grande,4,0,1,366,1890.0,NaN,208.0
26549,Casa,Campo Grande,4,0,0,159,1800.0,NaN,NaN
26750,Casa,Braz de Pina,4,1,0,99,1800.0,NaN,NaN
27033,Casa,Campo Grande,4,1,3,100,1600.0,NaN,NaN
28421,Casa,Campo Grande,4,1,2,180,1850.0,300.0,NaN
29517,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,NaN
30670,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0
31382,Apartamento,Vargem Grande,4,0,1,180,1900.0,NaN,176.0
31840,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,NaN
32064,Casa,Campo Grande,4,2,0,120,1600.0,NaN,NaN

In [167]:
print(f"Total de imoveis com menos de 4 quartos e aluguel menor que R$ 2.000: {imoveis_quartos.shape[0]}")

Total de imoveis com menos de 4 quartos e aluguel menor que R$ 2.000: 41