## Relatório de análise

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("aluguel.csv", sep=";")

In [5]:
df.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento
10,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,25.64,Apartamento
11,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,56.00,Apartamento
12,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0,15.62,Apartamento
13,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0,24.00,Apartamento
14,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,0.0,32.89,Apartamento
15,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0,30.56,Apartamento
16,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,0.0,21.90,Apartamento
17,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0,35.45,Apartamento
18,Apartamento,Jardim Oceânico,3,3,1,200,3500.0,1780.0,496.0,17.50,Apartamento
19,Apartamento,Barra da Tijuca,3,1,2,70,1800.0,1095.0,140.0,25.71,Apartamento

## Informações Gerais da Base de Dados

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19831 entries, 0 to 19830
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           19831 non-null  object
 1   Bairro         19831 non-null  object
 2   Quartos        19831 non-null  int64
 3   Vagas          19831 non-null  int64
 4   Suites         19831 non-null  int64
 5   Area           19831 non-null  int64
 6   Valor          19831 non-null  float64
 7   Condominio     19831 non-null  float64
 8   IPTU           19831 non-null  float64
 9   Valor m2       19831 non-null  float64
 10  Tipo Agregado  19831 non-null  object
dtypes: float64(4), int64(4), object(3)
memory usage: 1.7+ MB

In [46]:
df.shape

(19831, 11)

In [47]:
imoveis = df.shape[0]
variaveis = df.shape[1]
print(f"A base de dados contém {imoveis} registros e {variaveis} variáveis.")

A base de dados contém 19831 registros e 11 variáveis.

In [48]:
dados = df.dtypes

In [49]:
tipos_de_dados = pd.DataFrame(dados, columns=["Tipos de Dados"])

In [50]:
tipos_de_dados.columns.name = "Variaveis"

In [51]:
tipos_de_dados

Variaveis     Tipos de Dados
Tipo                  object
Bairro                object
Quartos                int64
Vagas                  int64
Suites                 int64
Area                   int64
Valor                float64
Condominio           float64
IPTU                 float64
Valor m2             float64
Tipo Agregado         object

## Verificar os tipos de imoveis

In [62]:
tipos_de_imoveis =  df["Tipo"].drop_duplicates()

In [63]:
tipos_de_imoveis

0               Apartamento
16923                  Casa
17821    Casa de Condomínio
18785          Casa de Vila
19018             Quitinete
Name: Tipo, dtype: object

In [79]:
df_tipo_imoveis = pd.DataFrame(tipos_de_imoveis, index=range(tipos_de_imoveis.shape[0]), columns=["Tipos de Imoveis"])

In [80]:
df_tipo_imoveis

  Tipos de Imoveis
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN