# Exercic√≠os do curso Python Pandas do curso Alura üêº üíª


##### **A base de dados com informa√ß√µes sobre im√≥veis dispon√≠veis para alugueis, contendo as seguintes informa√ß√µes:**

  *  Tipo	
  * Bairro	
  * Quartos	
  * Vagas
  * Suites
  * Area
  * Valor
  * Condominio
  * IPTU


---

## Relat√≥rio de an√°lise

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("aluguel.csv", sep=";")

In [6]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot√¢nico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien√≥polis,1,0,0,48,800.0,230.0,NaN



---





## Informa√ß√µes Gerais da Base de Dados

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [8]:
df.shape

(32960, 9)

In [9]:
imoveis = df.shape[0]
variaveis = df.shape[1]
print(f"A base de dados cont√©m {imoveis} registros e {variaveis} vari√°veis.")

A base de dados cont√©m 32960 registros e 9 vari√°veis.

In [10]:
dados = df.dtypes

In [11]:
dados

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [12]:
tipos_de_dados = pd.DataFrame(dados, columns=["Tipos de Dados"])

In [13]:
tipos_de_dados.columns.name = "Variaveis"

In [14]:
tipos_de_dados

Variaveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

- - -
## Verificar os tipos de imoveis

In [15]:
tipos_de_imoveis =  [imoveis for imoveis in df["Tipo"].drop_duplicates()]

In [16]:
tipos_de_imoveis

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condom√≠nio',
 'Pr√©dio Inteiro',
 'Flat',
 'Loja/Sal√£o',
 'Galp√£o/Dep√≥sito/Armaz√©m',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padr√£o',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Ch√°cara',
 'Loteamento/Condom√≠nio',
 'S√≠tio',
 'Pousada/Chal√©',
 'Studio',
 'Hotel',
 'Ind√∫stria']

In [17]:
df_tipo_imoveis = pd.DataFrame(tipos_de_imoveis, columns=["Tipo de imoveis"])

In [18]:
df_tipo_imoveis

                Tipo de imoveis
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condom√≠nio
5                Pr√©dio Inteiro
6                          Flat
7                    Loja/Sal√£o
8       Galp√£o/Dep√≥sito/Armaz√©m
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padr√£o
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Ch√°cara
16        Loteamento/Condom√≠nio
17                        S√≠tio
18                Pousada/Chal√©
19                       Studio
20                        Hotel
21                    Ind√∫stria

- - -
## Eliminando dados de imoveis que n√£o s√£o residenciais

In [19]:
imoveis_residenciais = ['Quitinete', 'Casa', 'Apartamento', 'Casa de Condom√≠nio', 'Casa de Vila']

In [20]:
df_residencial = df[df.Tipo.isin(imoveis_residenciais)== True]

In [21]:
#verificando se os imoveis n√£o selecionados foram removidos
df_residencial.Tipo.drop_duplicates()

0               Quitinete
1                    Casa
3             Apartamento
7      Casa de Condom√≠nio
117          Casa de Vila
Name: Tipo, dtype: object

In [22]:
df_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot√¢nico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien√≥polis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,M√©ier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepagu√°,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,S√£o Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [23]:
imoveis_residenciais = df_residencial.shape[0]
variaveis = df_residencial.shape[1]
print(f"A base de dados cont√©m {imoveis_residenciais} registros e {variaveis} vari√°veis.")

A base de dados cont√©m 22580 registros e 9 vari√°veis.

In [24]:
print(f"Foram removidos {imoveis - imoveis_residenciais} registros em rela√ß√£o ao arquivo original")

Foram removidos 10380 registros em rela√ß√£o ao arquivo original

In [25]:
#Exportando arquivo que consta somente os dados de imoveis residenciais
df_residencial.to_csv("aluguel_imoveis_residenciais.csv", index=False, sep=";")

---
## Verificar sele√ß√£o e frequ√™ncia dos imoveis residencias

*   Classificar imoveis do tipo Apartamento

In [26]:
imoveis_apartamento = df_residencial[df_residencial.Tipo == "Apartamento"]

In [27]:
imoveis_apartamento

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien√≥polis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
32953,Apartamento,M√©ier,2,0,0,70,900.0,490.0,48.0
32956,Apartamento,Jacarepagu√°,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,S√£o Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [28]:
print(f"Total de imoveis que s√£o do tipo Apartamento: {imoveis_apartamento.shape[0]}")

Total de imoveis que s√£o do tipo Apartamento: 19532

*   Classificar imoveis do tipo Casa

In [29]:
imoveis_casa = df_residencial[(df_residencial.Tipo != "Apartamento") & (df_residencial.Tipo != "Quitinete")]

In [30]:
imoveis_casa

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Bot√¢nico,2,0,1,100,7000.0,NaN,NaN
7,Casa de Condom√≠nio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condom√≠nio,Ramos,2,2,0,65,1000.0,NaN,NaN
18,Casa de Condom√≠nio,Taquara,3,1,1,115,2000.0,NaN,NaN
22,Casa de Condom√≠nio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
...,...,...,...,...,...,...,...,...,...
32908,Casa de Condom√≠nio,Freguesia (Jacarepagu√°),3,3,1,155,2000.0,530.0,1250.0
32911,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
32924,Casa de Condom√≠nio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
32931,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
32952,Casa de Condom√≠nio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0

In [31]:
print(f"Total de imoveis que s√£o do tipo Casa: {imoveis_casa.shape[0]}")

Total de imoveis que s√£o do tipo Casa: 2212

*   Selecionar imoveis com √°rea entre 60 e 100 m¬≤

In [32]:
imoveis_area = df_residencial[(df_residencial.Area >= 60) & (df_residencial.Area <= 100)]

In [33]:
imoveis_area

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Bot√¢nico,2,0,1,100,7000.0,NaN,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
8,Casa de Condom√≠nio,Ramos,2,2,0,65,1000.0,NaN,NaN
11,Apartamento,Graja√∫,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
32944,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
32947,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
32953,Apartamento,M√©ier,2,0,0,70,900.0,490.0,48.0
32956,Apartamento,Jacarepagu√°,3,1,2,78,1800.0,800.0,40.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [34]:
print(f"Total de imoveis com √°rea entre 60 e 100 m¬≤: {imoveis_area.shape[0]}")

Total de imoveis com √°rea entre 60 e 100 m¬≤: 8719

*   Selecionar imoveis com pelo menos 4 quartos e aluguel menor que R$ 2.000

In [35]:
imoveis_quartos = df_residencial[(df_residencial.Quartos >= 4) & (df_residencial.Valor < 2000)]

In [36]:
imoveis_quartos

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
701,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,NaN
1465,Apartamento,Taquara,4,1,1,110,1900.0,NaN,NaN
2874,Casa,Campo Grande,4,1,4,100,1600.0,NaN,NaN
3075,Casa,Engenho de Dentro,4,3,0,120,1500.0,NaN,NaN
3218,Apartamento,Recreio dos Bandeirantes,4,2,2,125,1700.0,NaN,90.0
3419,Casa de Vila,M√©ier,4,0,1,85,1600.0,NaN,NaN
5849,Casa,Campo Grande,4,1,0,140,1700.0,NaN,NaN
5852,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,NaN
6456,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0
7520,Apartamento,Cidade Nova,4,0,0,110,1300.0,NaN,NaN
9716,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0
10132,Casa,Riachuelo,4,0,1,100,1800.0,NaN,40.0
10144,Casa,M√©ier,4,1,1,125,1900.0,NaN,NaN
11323,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0
11367,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0
11675,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0
14890,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0
16078,Casa de Condom√≠nio,Taquara,4,1,0,110,1750.0,550.0,993.0
16638,Casa,Santo Cristo,5,0,0,85,1200.0,NaN,NaN
17637,Apartamento,Leme,4,0,1,185,1800.0,2000.0,270.0
18453,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0
19553,Apartamento,Camorim,4,1,1,96,1350.0,747.0,NaN
20077,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,NaN
20633,Casa,Pra√ßa Seca,4,1,1,128,1600.0,NaN,228.0
21973,Casa de Condom√≠nio,Freguesia (Jacarepagu√°),4,2,1,120,1800.0,195.0,30.0
22000,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,NaN,NaN
23284,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,NaN
23453,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0
23608,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,NaN
24572,Casa,Campo Grande,4,3,0,120,1700.0,NaN,NaN
25993,Apartamento,Taquara,4,3,1,190,1200.0,NaN,NaN
26178,Casa,Campo Grande,4,0,1,366,1890.0,NaN,208.0
26549,Casa,Campo Grande,4,0,0,159,1800.0,NaN,NaN
26750,Casa,Braz de Pina,4,1,0,99,1800.0,NaN,NaN
27033,Casa,Campo Grande,4,1,3,100,1600.0,NaN,NaN
28421,Casa,Campo Grande,4,1,2,180,1850.0,300.0,NaN
29517,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,NaN
30670,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0
31382,Apartamento,Vargem Grande,4,0,1,180,1900.0,NaN,176.0
31840,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,NaN
32064,Casa,Campo Grande,4,2,0,120,1600.0,NaN,NaN

In [37]:
print(f"Total de imoveis com pelo menos de 4 quartos e aluguel menor que R$ 2.000: {imoveis_quartos.shape[0]}")

Total de imoveis com pelo menos de 4 quartos e aluguel menor que R$ 2.000: 41

## Tratamento de valores nulos

In [38]:
df_residencial.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot√¢nico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien√≥polis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condom√≠nio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condom√≠nio,Ramos,2,2,0,65,1000.0,NaN,NaN
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Graja√∫,2,1,0,70,1500.0,642.0,74.0

In [39]:
df_residencial.isnull() #Observando quais valores s√£o nulos

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False   True
5      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
32953  False   False    False  False   False  False  False       False  False
32955  False   False    False  False   False  False  False       False  False
32956  False   False    False  False   False  False  False       False  False
32957  False   False    False  False   False  False  False       False  False
32958  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [40]:
df_residencial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22580 entries, 0 to 32958
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [42]:
df_residencial[df_residencial["Valor"].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
76,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
2186,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
2456,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2941,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2973,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
7302,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
12683,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
13229,Apartamento,Gl√≥ria,3,0,1,135,NaN,910.0,228.0
13525,Apartamento,G√°vea,3,1,1,105,NaN,880.0,221.0

In [43]:
df_residencial["Valor"].isnull()

0        False
1        False
3        False
4        False
5        False
         ...
32953    False
32955    False
32956    False
32957    False
32958    False
Name: Valor, Length: 22580, dtype: bool

In [45]:
df_residencial.shape[0]

22580

In [49]:
df_residencial.dropna(subset=["Valor"], inplace=True) #substituindo os valores nulos por zero

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [47]:
df_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot√¢nico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien√≥polis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,M√©ier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepagu√°,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,S√£o Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [48]:
df_residencial[df_residencial["Valor"].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [50]:
df_residencial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22571 entries, 0 to 32958
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22571 non-null  object
 1   Bairro      22571 non-null  object
 2   Quartos     22571 non-null  int64
 3   Vagas       22571 non-null  int64
 4   Suites      22571 non-null  int64
 5   Area        22571 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20758 non-null  float64
 8   IPTU        15791 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

## Tratamento condicional

In [53]:
#Verificar os valores nulos da coluna Condominio
df_residencial[df_residencial.Condominio.isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Bot√¢nico,2,0,1,100,7000.0,NaN,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
7,Casa de Condom√≠nio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condom√≠nio,Ramos,2,2,0,65,1000.0,NaN,NaN
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32859,Casa,Campo Grande,1,0,0,50,600.0,NaN,NaN
32865,Casa de Vila,Pavuna,2,0,0,55,600.0,NaN,NaN
32893,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,NaN,NaN
32911,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
32931,Casa,Centro,5,0,1,160,5000.0,NaN,80.0

In [56]:
#Verificar quais tipos de residencia tem valores nulos
df_residencial.Tipo[df_residencial.Condominio.isnull()].drop_duplicates()

1                    Casa
5             Apartamento
7      Casa de Condom√≠nio
117          Casa de Vila
536             Quitinete
Name: Tipo, dtype: object

In [51]:
df_residencial[(df_residencial.Tipo == "Apartamento") & (df_residencial.Condominio.isnull())]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
113,Apartamento,Pra√ßa Seca,2,0,0,80,1000.0,NaN,NaN
166,Apartamento,Rocha Miranda,2,1,0,50,1100.0,NaN,NaN
194,Apartamento,Barra da Tijuca,1,1,1,65,2350.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32609,Apartamento,Copacabana,3,0,0,130,4600.0,NaN,NaN
32643,Apartamento,Guadalupe,1,0,0,40,550.0,NaN,NaN
32666,Apartamento,Bonsucesso,1,0,0,60,1000.0,NaN,NaN
32708,Apartamento,Flamengo,2,0,0,59,3500.0,NaN,NaN
32809,Apartamento,Cascadura,3,0,1,70,1200.0,NaN,NaN

In [57]:
df_residencial.fillna(0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [58]:
df_residencial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22571 entries, 0 to 32958
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22571 non-null  object
 1   Bairro      22571 non-null  object
 2   Quartos     22571 non-null  int64
 3   Vagas       22571 non-null  int64
 4   Suites      22571 non-null  int64
 5   Area        22571 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  22571 non-null  float64
 8   IPTU        22571 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB